<div class="row">

    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5" id="general_metrics" style="max-width: 400px;">
        <!--CPU -->
        <div class="row metric">
            <span>CPU</span><span class="float_right">Free: {{metrics_usage.free_cpu}} GHz</span>
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow={{metrics_usage.percent_consumed_cpu}} aria-valuemin="0" aria-valuemax="100" style="width: {{metrics_usage.percent_consumed_cpu}}%;min-width: 2em;">
                    {{metrics_usage.percent_consumed_cpu}}%
                </div>
            </div>
            <span>Used: {{metrics_usage.total_consumed_cpu}} GHz </span><span class="float_right">Capacity: {{metrics_usage.total_cpu}} GHz</span>
        </div>
        <!--Memory -->
        <div class="row general_metrics">
            <span>Memory</span><span class="float_right">Free: {{metrics_usage.free_memory}} GB</span>
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow={{metrics_usage.percent_consumed_mem}} aria-valuemin="0" aria-valuemax="100" style="width: {{metrics_usage.percent_consumed_mem}}%;min-width: 2em;">
                    {{metrics_usage.percent_consumed_mem}}%
                </div>
            </div>
            <span>Used: {{metrics_usage.total_consumed_mem}} GB </span><span class="float_right">Capacity: {{metrics_usage.total_memory}} GB</span>
        </div>
        <!--Storage -->
        <div class="row general_metrics">
            <span>Storage</span><span class="float_right">Free: {{metrics_usage.free_storage}} TB</span>
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow={{metrics_usage.percent_used_storage}} aria-valuemin="0" aria-valuemax="100" style="width: {{metrics_usage.percent_used_storage}}%;min-width: 2em;">
                    {{metrics_usage.percent_used_storage}}%
                </div>
            </div>
            <span>Used: {{metrics_usage.used_storage}} TB </span><span class="float_right">Capacity: {{metrics_usage.total_storage}} TB</span>
        </div>
    </div>

    <!-- Right Side of the screen-->
    <div class="col-md-1 col-lg-1 ">

    </div>

    <div class="col-md-6 col-lg-6 squares">
        <div class="row">
            <div class="pull-right">
                <div class="tile_stats_count">
                      <span class="count_top"><clr-icon shape="host" size="20"></clr-icon> Hosts</span>
                      <div class="count">{{metrics_usage.num_hosts}}</div>
                </div>
                <div class="tile_stats_count">
                      <span class="count_top"><clr-icon shape="vm" size="20"></clr-icon> VMs</span>
                      <div class="count">{{metrics_usage.num_vms}}</div>
                </div>
                <div class="tile_stats_count">
                      <span class="count_top"><clr-icon shape="storage" size="20"></clr-icon> Datastores</span>
                      <div class="count">{{metrics_usage.num_datastores}}</div>
                </div>
                <div class="tile_stats_count">
                      <span class="count_top"><clr-icon shape="cluster" size="20"></clr-icon> HA Status</span>
                      <div class="count">{{metrics_usage.ha}}</div>
                </div>
                <div class="tile_stats_count">
                      <span class="count_top"><clr-icon shape="cluster" size="20"></clr-icon> DRS Status</span>
                      <div class="count">{{metrics_usage.drs}}</div>
                </div>
                <div class="tile_stats_count">
                      <span class="count_top"><i class="fa fa-plug"></i> Power Usage</span>
                      <div class="count">{{metrics_usage.total_power}}W</div>
                </div>
            </div>
        </div>
    </div>

</div>

<hr/>

<div class="row">

    <div class="col-md-6 col-sm-5 col-xs-6">
          <div class="x_panel tile fixed_height_380">
            <div class="x_title">
              <h2>Datastores Avg Latency</h2>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">

              {% for datastore, metrics in metrics_usage.datastores_latency.items %}

                  <div class="widget_summary">
                    <div class="w_left w_25">
                      <span>{{datastore}}</span>
                    </div>
                    <div class="w_center w_55">
                      <div class="progress">
                        <div class="progress-bar bg-green" role="progressbar" aria-valuenow={{metrics.percent}} aria-valuemin="0" aria-valuemax="100" style="width: {{metrics.percent}}%;">
                          <span class="sr-only">{{metrics.percent}}% Complete</span>
                        </div>
                      </div>
                    </div>
                    <div class="w_right w_20">
                      <span>{{metrics.value}}ms</span>
                    </div>
                    <div class="clearfix"></div>
                  </div>

              {% endfor %}

            </div>
          </div>
    </div>

     <div class="col-md-6 col-sm-5 col-xs-6">
          <div class="x_panel tile fixed_height_380">
            <div class="x_title">
              <h2>Datastores - Used Space</h2>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">

                {% for datastore_name, usage_value in metrics_usage.datastores_usage_dict.items %}

                  <div class="widget_summary">
                    <div class="w_left w_25">
                      <span>{{datastore_name}}</span>
                    </div>
                    <div class="w_center w_55">
                      <div class="progress">
                        <div class="progress-bar bg-green" role="progressbar" aria-valuenow={{usage_value.percent}} aria-valuemin="0" aria-valuemax="100" style="width: {{usage_value.percent}}%;">
                          <span class="sr-only">{{usage_value.percent}}% Complete</span>
                        </div>
                      </div>
                    </div>
                    <div class="w_right w_20">
                      <span>{{usage_value.used_space_GB}}GB</span>
                    </div>
                    <div class="clearfix"></div>
                  </div>

              {% endfor %}

            </div>
          </div>
    </div>

</div>

<hr/>

<!-- Real Time Graphs-->

<div class="row">

    <div class="col-md-6 col-sm-5 col-xs-6">
        <div class="x_panel tile fixed_height_380">
            <div class="x_title">
              <h2>Memory - Real Time</h2>
              <div class="clearfix"></div>
            </div>
            <div id="realtime_graph_memory">

            </div>
        </div>
    </div>

    <div class="col-md-6 col-sm-5 col-xs-6">
        <div class="x_panel tile fixed_height_380">
            <div class="x_title">
              <h2>CPU - Real Time</h2>
              <div class="clearfix"></div>
            </div>
            <div id="realtime_graph_cpu">

            </div>
        </div>
    </div>

    <div class="col-md-6 col-sm-5 col-xs-6">
        <div class="x_panel tile fixed_height_380">
            <div class="x_title">
              <h2>Network - Real Time</h2>
              <div class="clearfix"></div>
            </div>
            <div id="realtime_graph_network">

            </div>
        </div>
    </div>

    <div class="col-md-6 col-sm-5 col-xs-6">
        <div class="x_panel tile fixed_height_380">
            <div class="x_title">
              <h2>Disk - Real Time</h2>
              <div class="clearfix"></div>
            </div>
            <div id="realtime_graph_disk">

            </div>
        </div>
    </div>

</div>

<hr/>

<div class="row">
    <div class="col-md-6 col-sm-5 col-xs-6">
              <div class="x_panel tile fixed_height_320 overflow_hidden">
                <div class="x_title">
                  <h3>Top VMs (Memory)</h3>
                  <div class="clearfix"></div>
                </div>
                <div class="x_content">
                  <table class="" style="width:100%">
                    <tr>
                      <th style="width:37%;">
                        <p>Top 5</p>
                      </th>
                      <th>
                        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                          <p class="">VM</p>
                        </div>
                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                          <p class="">Value</p>
                        </div>
                      </th>
                    </tr>
                    <tr>
                      <td>
                        <canvas id="top_vms_cluster_memory" height="170" width="170" style="margin: 15px 10px 10px 0"></canvas>
                      </td>
                      <td>
                        <table class="tile_info top_vms_cluster_memory">
                            <!--Insert Values with JavaScript -->
                        </table>
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>

    <!--Another doughnut chart -->
    <div class="col-md-6 col-sm-5 col-xs-6">
              <div class="x_panel tile fixed_height_320 overflow_hidden">
                <div class="x_title">
                  <h3>Top VMs (CPU)</h3>
                  <div class="clearfix"></div>
                </div>
                <div class="x_content">
                  <table class="" style="width:100%">
                    <tr>
                      <th style="width:37%;">
                        <p>Top 5</p>
                      </th>
                      <th>
                        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                          <p class="">VM</p>
                        </div>
                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                          <p class="">Value</p>
                        </div>
                      </th>
                    </tr>
                    <tr>
                      <td>
                        <canvas id="top_vms_cluster_cpu" height="170" width="170" style="margin: 15px 10px 10px 0"></canvas>
                      </td>
                      <td>
                        <table class="tile_info top_vms_cluster_cpu">
                            <!--Insert Values with JavaScript -->
                        </table>
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>

            <div class="col-md-6 col-sm-5 col-xs-6">
              <div class="x_panel tile fixed_height_320 overflow_hidden">
                <div class="x_title">
                  <h3>Top Hosts (Memory)</h3>
                  <div class="clearfix"></div>
                </div>
                <div class="x_content">
                  <table class="" style="width:100%">
                    <tr>
                      <th style="width:37%;">
                        <p>Top 5</p>
                      </th>
                      <th>
                        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                          <p class="">VM</p>
                        </div>
                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                          <p class="">Value</p>
                        </div>
                      </th>
                    </tr>
                    <tr>
                      <td>
                        <canvas id="top_hosts_cluster_memory" height="170" width="170" style="margin: 15px 10px 10px 0"></canvas>
                      </td>
                      <td>
                        <table class="tile_info top_hosts_cluster_memory">
                            <!--Insert Values with JavaScript -->
                        </table>
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>

    <!--Another doughnut chart -->
    <div class="col-md-6 col-sm-5 col-xs-6">
              <div class="x_panel tile fixed_height_320 overflow_hidden">
                <div class="x_title">
                  <h3>Top Hosts (CPU)</h3>
                  <div class="clearfix"></div>
                </div>
                <div class="x_content">
                  <table class="" style="width:100%">
                    <tr>
                      <th style="width:37%;">
                        <p>Top 5</p>
                      </th>
                      <th>
                        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                          <p class="">VM</p>
                        </div>
                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                          <p class="">Value</p>
                        </div>
                      </th>
                    </tr>
                    <tr>
                      <td>
                        <canvas id="top_hosts_cluster_cpu" height="170" width="170" style="margin: 15px 10px 10px 0"></canvas>
                      </td>
                      <td>
                        <table class="tile_info top_hosts_cluster_cpu">
                            <!--Insert Values with JavaScript -->
                        </table>
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
</div>

<hr/>

<div id="graphs">

    {% include "cluster_graphs.html" %}

</div>


<script>
   var json_memory = {{ memory_realtime | safe }};
   var json_cpu = {{cpu_realtime | safe}};
   var json_network = {{network_realtime | safe}};
   var json_disks = {{disks_realtime| safe}};
</script>

{% load static %}
<!-- Chart.js -->
<script src="{% static "dist/js/cluster.js" %}"></script>