<div class="row time_frame">
    <div class="col-lg-12">
        <div class="btn-group" role="group" aria-label="...">
          {% if instance_uuid %}
              <button type="button" value="1" class="btn btn-default {%if interval_m == '1' %}btn-primary{% endif %}" data-link="{% url 'view' uuid=instance_uuid interval=1 %}">1 Day</button>
              <button type="button" value="2" class="btn btn-default {%if interval_m == '2' %}btn-primary{% endif %}" data-link="{% url 'view' uuid=instance_uuid interval=2 %}">1 Week</button>
              <button type="button" value="3" class="btn btn-default {%if interval_m == '3' %}btn-primary{% endif %}" data-link="{% url 'view' uuid=instance_uuid interval=3 %}">1 Month</button>
              <button type="button" value="4" class="btn btn-default {%if interval_m == '4' %}btn-primary{% endif %}" data-link="{% url 'view' uuid=instance_uuid interval=4 %}">1 Year</button>
           {% endif %}
           {% if host_name %}
              <button type="button" value="1" class="btn btn-default {%if interval_m == '1' %}btn-primary{% endif %}" data-link="{% url 'host' host=host_name interval=1 %}">1 Day</button>
              <button type="button" value="2" class="btn btn-default {%if interval_m == '2' %}btn-primary{% endif %}" data-link="{% url 'host' host=host_name interval=2 %}">1 Week</button>
              <button type="button" value="3" class="btn btn-default {%if interval_m == '3' %}btn-primary{% endif %}" data-link="{% url 'host' host=host_name interval=3 %}">1 Month</button>
              <button type="button" value="4" class="btn btn-default {%if interval_m == '4' %}btn-primary{% endif %}" data-link="{% url 'host' host=host_name interval=4 %}">1 Year</button>
           {% endif %}
           {% if cluster_name %}
              <button type="button" value="1" class="btn btn-default {%if interval_m == '1' %}btn-primary{% endif %}" data-link="{% url 'cluster' cluster=cluster_name interval=1 %}">1 Day</button>
              <button type="button" value="2" class="btn btn-default {%if interval_m == '2' %}btn-primary{% endif %}" data-link="{% url 'cluster' cluster=cluster_name interval=2 %}">1 Week</button>
              <button type="button" value="3" class="btn btn-default {%if interval_m == '3' %}btn-primary{% endif %}" data-link="{% url 'cluster' cluster=cluster_name interval=3 %}">1 Month</button>
              <button type="button" value="4" class="btn btn-default {%if interval_m == '4' %}btn-primary{% endif %}" data-link="{% url 'cluster' cluster=cluster_name interval=4 %}">1 Year</button>
           {% endif %}
        </div>
    </div>
</div>
<div class="row">
    {% if graph_memory %}
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-bar-chart-o fa-fw"></i> Memory
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div style="">
                    {{ graph_memory|safe }}
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    {% if graph_cpu %}
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-bar-chart-o fa-fw"></i> CPU
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div style="">
                    {{ graph_cpu|safe }}
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    <!-- /.col-lg-4 -->
</div>
<!-- /.row -->
<div class="row">
    {% if graph_disk %}
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-bar-chart-o fa-fw"></i> Disk
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                    <div style="">
                        {{ graph_disk|safe }}
                    </div>
            </div>
        </div>
    </div>
    {% endif %}
    {% if graph_network %}
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-bar-chart-o fa-fw"></i> Network
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div style="">
                    {{ graph_network|safe }}
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</div>
<!-- /.row -->
